<link src="/frontend/public/css/components/buy/filters__button.css">    

<section class="filters">
    <h2 class="filters__title">Filtros</h2>
    <div class="filters__buttons">
        <button class="filters__button" data-category="Frutas">Frutas</button>
        <button class="filters__button" data-category="Verduras">Verduras</button>
        <button class="filters__button" data-category="Carnes">Carnes</button>
        <button class="filters__button" data-category="Fertilizantes">Fertilizantes</button>
    </div>
</section>