
.agriculture {
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 11px;
}

.agriculture__text {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.agriculture__category {
    color: #00c853;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.agriculture__title {
    font-size: 2.4rem;
    color: #0b3c87;
    margin: 10px 0 20px;
}

.agriculture__description {
    color: #333;
    line-height: 1.6;
    max-width: 600px;
    font-size: 1.6rem;
}

.agriculture__practices {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.practices h3 {
    color: #0b3c87;
    margin-bottom: 10px;
    font-size: 2rem;
}

.practices p {
    color: #444;
    line-height: 1.5;
    font-size: 1.6rem;
}

.agriculture__button {
    width: fit-content;
    cursor: pointer;
    width: 150px;
    height: 4rem;
    font-size: 1.6rem;

    
    padding: 10px 20px;
    background-color: var(--primary-600);
    color: var(--white);
    border: none;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 20rem;
}

.agriculture__button a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


.agriculture__img {
    display: flex;
    justify-content: center;
}

.agriculture__img img {
    max-width: 100%;
    height: auto;
}


@media (min-width: 768px) {
    .agriculture__practices {
        grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1024px) {
    .agriculture__text {
        grid-template-columns: 1.2fr 1fr;
        align-items: center;
  }

  .agriculture__category,
  .agriculture__title,
  .agriculture__description,
  .agriculture__practices,
  .agriculture__button {
        grid-column: 1;
  }

  
  .agriculture__img {
        grid-column: 2;
        grid-row: 1 / span 6;
        justify-content: flex-end;
  }
}

/* */
/* .agriculture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px ;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 70%;
    
  
}


.agriculture__category {
    color: var(--primary-600);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.agriculture__title {
    font-size: 28px;
    color: #0f3b82;
    margin-top: 10px;
}

.agriculture__description {
    font-size: 15px;
    line-height: 1.6;
    margin: 20px 0;
    color: #333;
}

.agriculture__practices {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.practices {
    flex: 1;
    min-width: 240px;
}


.practices h3 {
    color: var(--primary-secundary-800);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.practices p {
    font-size: 14px;

}

.agriculture__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-600);
    color: var(--white);
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20rem;
}

.agriculture__button a{
    text-decoration: none;
    color: var(--white);
}
.agriculture__button:hover {
    background-color: var(--primary-700); 
}

.agriculture__img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: 830px;
    margin-top: -400px;
}

@media (max-width > 768px) {
    .agricultural, .agricultura-box, .agriculture  {
        grid-template-columns: repeat(3, 1fr);
        flex-direction: column;
        align-items: center;
        text-align: center;
}

    .agricultural__content,
    .agricultural__image {
        flex-direction: column;
}

    .agricultural__features {
        flex-direction: column;
        gap: 1.5rem;
  }
  .agriculture__text, .agriculture, .agricultura-box, .practices, .agricultural__image, .agriculture__button{
    flex-direction: column;
    display: grid;
    
  }
}
 */
