<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Comunidad</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- Script -->
    <script src="/static/js/components/header-index.js" defer></script>
    <script src="/static/js/components/navbar_blog_user.js" defer></script>
    <script src="/static/js/components/hero-blog.js" defer></script>
    <script src="/static/js/components/share-blog.js" defer></script>
    <script src="/static/js/components/hero-tree.js" defer></script>
    <script src="/static/js/components/form.js" defer></script>
    <script src="/static/js/components/footer.js" defer></script>


</head>
<body>
    <!-- Header -->
    <header class="header__index">

    </header>

    <!-- Navbar -->
    <nav class="navbar__index">

    </nav>

    <!-- Hero -->
    <section class="hero__blog">
        <div class="hero__content">
    </section>

     <!-- Prueba -->
    <section class="share-section">

    </section>

    <!-- Test 2 -->
    <section class="community-hero">
        <div class="community-hero__overlay">

        </div>
    </section>
    
    <!-- Form -->
    <section class="form">
        <div class="form__contact">

        </div>
    </section>

    <!-- Footer -->
    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer> 
</body>
</html>