<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Scritps -->
    <script src="/static/js/components/header-index.js" defer></script>
    <script src="/static/js/components/navbar-buy-user.js" defer></script>
    <script src="/static/js/components/discount-product-buy.js" defer></script>
    <script src="/static/js/components/filters-product-buy.js" defer></script>
    <script src="/static/js/components/footer.js" defer></script>

</head>
<body>
    <!-- Header -->
    <header class="header__index">
        <div class="header-content"></div>
    </header>
    
    <!-- Navbar -->
    <nav class="navbar__buy__user">
        <div class="navbar__container"></div>
    </nav>



    <!-- Discount product -->
    <section class="discounts">
        <div class="product__button">

        </div>
    </section>

    <!-- Botones filtros -->
    <section class="filters">
        <div class="productsContainer">
            
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer-container">

    </footer>

</body>
</html>