<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Contraseña</title>

    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/js/components/header-login.js" defer></script>
    <script src="/static/js/components/change-password-content.js" defer></script>
    <script src="/static/js/components/footer.js" defer></script>

    <style>
        


    </style>
</head>
<body>
    <header class="header__login"></header>

    <main class="main__content__change__password">
        
    </main>
   

    <footer class="footer-container"></footer>
</body>
</html>