<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGMA</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Script -->
    <script src="/static/js/components/header-index.js" defer></script>
    <script src="/static/js/components/hero-user-index.js"></script>
    <script src="/static/js/components/agriculture.js" defer></script>
    <script src="/static/js/components/products-index.js" defer></script>
    <script src="/static/js/components/hero-tree.js" defer></script>
    <script src="/static/js/components/form.js" defer></script>
    <script src="/static/js/components/footer.js" defer></script>

</head>
<body>
    
    <!-- Header -->
    <header class="header__index">
    </header>
    
    <!-- Hero and Navbar -->
    <hero class="hero__user__index">

    </hero>
    <nav class="navbar"></nav>
    <!-- Agricultura -->
    <section class="agriculture">
        <div class="agricultura-box">

        </div>
    </section>

    <!-- Productos mas comercializados-->
    <section class="marketed_products">

    </section>
    <!-- Resto del main... -->


  

    <!-- Section Hero Tree -->
    <section class="community-hero">
        <div class="community-hero__overlay"></div>
    </section>

    <!-- Section Form -->
    <section class="form">
        <div class="form__contact"></div>
    </section>

    <!-- Footer -->
    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer>

</body>
</html>