<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Script -->
    <script src="/static/js/components/header-login.js" defer></script>
    <script src="/static/js/components/login-content.js" defer></script>
    <script src="/static/js/components/footer.js" defer></script>
    
</head>
<body>
    <header class="header__login">
        <div class="header__login__content"></div>
    </header>

    <main class="login__content">

    </main>
    
    <footer class="footer-container"></footer>
</body>
</html>
