<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto 2</title>
    <link rel="stylesheet" href="/static/css/main.css">
    
</head>
<body>
    <header class="header__product"> <!-- Sm -->
        <div class="header__container"></div>
    </header>

    <nav class="navbar-bottom-product"></nav>
    <main class="main-content-create"></main>

    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer> <!-- Sm -->

    <script src="/static/js/components/profile_data.js"></script>
    <script src="/static/js/components/header-product.js"></script> <!-- Sm -->
    <script src="/static/js/components/navbar_create_product.js"></script>
    <script src="/static/js/components/create_product_step2.js"></script>
    <script src="/static/js/components/footer.js"></script> <!-- Sm -->
</body>
</html>