<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piña Oro Miel</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <header class="header__index"></header>
    
    <!-- Implementar navbar compontente sm, de tienda -->

    <!-- shopping_pineapple.js inserta en .main-content -->
    <main class="main-content-shopping-pineapple"></main>

    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer> <!-- Sm -->

    <script src="/static/js/components/header-index.js"></script> <!-- Sm -->
    <script src="/static/js/components/navbar_shopping.js"></script>
    <script src="/static/js/components/shopping_pineapple.js"></script>
    <script src="/static/js/components/footer.js"></script>
</body>
</html>