<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verificaciόn</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header class="header__login"></header>
    
    <main class="main-content-verification"></main>


    <script src="/static/js/components/header-login.js "></script> <!-- Sm -->
    <script src="/static/js/components/verification.js"></script>
</body>
</html>
