<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <header class="header__index"></header>
    <nav class="navbar__pay__user"></nav>

    <section class="checkout-container"></section>

    <footer class="footer-container"></footer>

    <script src="/static/js/components/header-index.js"></script>
    <script src="/static/js/components/navbar-pay-user.js"></script>
    <script src="/static/js/components/pay.js"></script>
    <script src="/static/js/components/footer.js"></script>
</body>
</html>