<main class="login__content">
    <div class="login__content__right__login">
        
    </div>
        
    <div class="login__content__left__user">
        <div class="form__register__user">
            <h1 class="form__register__title">Inicia Sesión</h1>
            <form>
                <div class="form__login__form__user">
                    <div class="form__login__form-grup">
<!-- 
                    <label class="form__login__form-grup-label">
                        Correo Electronico
                        <input type="email" placeholder="Ingresa tu Correo" class="form__login__form-grup-input">   
                    </label>
                        
                    

                    <div class="form__login__form-grup">
                        <form id="loginForm">

                            <label class="form__login__form-grup-label">
                                Contraseña
                                <input type="text" placeholder="Ingresa tu Contraseña" class="form__login__form-grup-input">
                            </label>
                            
                        </form>
                    </div> -->

                    <label class="user-label">
                        Correo Electronico
                        <input type="email" class="user-input">
                    </label>

                    <label class="user-label">
                        Contraseña
                        <input type="password" class="user-input">
                    </label>
                    
                    <button class="form__login__form-button">
                        <a href="#">Iniciar Sesión</a>
                    </button>
                     
                    <div class="form__login__form-row-button">
                        <a href="/static/views/register.html" class="form__login__form-button">Crear Cuenta</a>
                        <a href="/static/views/views_recover.html" class="form__login__form-button">Recuperar Cuenta</a>
                        
                    </div>

                </div>
            </form>
        </div>
    </div>
</main>

<body></body>