<div class="product-vevo">


    <section class="product-vevo-section">
        <h2 class="product-vevo-section-title">Mis productos</h2>
        <div class="product-vevo-grid productGrid"></div>
    </section>

    <!-- Botones flotantes -->
    <div class="product-vevo-floating-buttons">
        <button class="product-vevo-create-btn btnCrearProducto" aria-label="Crear Producto">+</button>
        <button class="product-vevo-back-btn btnGoBack" aria-label="Regresar">↶</button>
    </div>

</div>