<section class="agriculture">
    <div class="agriculture__text">
        <h4 class="agriculture__category"> <!-- Contenedor generico-->
            PRODUCTOS
        </h4>

        <h2 class="agriculture__title">
            Tradición agrícola
        </h2>

        <p class="agriculture__description">
            Los productos agrícolas del Eje Cafetero se destacan por su excelente calidad, resultado de una larga tradición agrícola transmitida de generación en generación. El conocimiento profundo de la tierra, las prácticas sostenibles y el cuidado en cada etapa del cultivo hacen que los campesinos de esta región ofrezcan alimentos frescos, sabrosos y confiables.
        </p>

        <div class="agriculture__practices">
            <div class="practices">
                <h3>Buenas prácticas</h3>
                <p>Los campesinos del Eje Cafetero aplican buenas prácticas agrícolas que incluyen el uso responsable del agua, la rotación de cultivos y el manejo adecuado del suelo, garantizando productos saludables y sostenibles.</p>
            </div>

            <div class="practices"> <!-- box -->
                <h3>Control fitosanitario</h3>
                <p>El control fitosanitario en la región asegura cultivos libres de plagas y enfermedades mediante técnicas seguras y reguladas, protegiendo la salud del consumidor y el medio ambiente.</p>
            </div>
        </div>

        <button class="agriculture__button">
            <a href="#">Ir a la tienda</a>
        </button>

        <div class="agriculture__img">
            <img src="/frontend/img/Cesta_agricultura.png" alt="Cesta_de_verduras" width="500" height="500">
        </div>

    </div>    
</section>
