<link rel="stylesheet" href="/frontend/public/css/components/box.css">
<div class="box-container">
    <h2 class="box__title"> 
        SGMA
    </h2>
    <div class="box">
        <p class="box__text">
        En SGMA creemos en el poder del campo y en el valor de quienes lo trabajan. Somos un sistema sin ánimo de lucro que apoya a los campesinos del Eje Cafetero en la comercialización de sus productos, conectándolos con más personas y oportunidades a través de herramientas digitales. Promovemos una agricultura más justa, participativa y visible, donde los productores pueden acceder a noticias, eventos y foros sociales para fortalecer su voz y su comunidad.
        </p>
    </div>   

    <!-- Misión y Visión -->
    <div class="box__row">
        <div class="box__column">
        <!-- Titulos -->
        <h2 class="section-title">
            Misión
        </h2>

        <div class="box">
            <p class="box__text">
                Facilitar a los campesinos del Eje Cafetero el acceso a herramientas digitales para mejorar la comercialización de sus productos, promover la participación en espacios comunitarios y fortalecer la economía local y regional de manera justa, inclusiva y sostenible.
            </p> 
          
        </div>
    </div>

    <div class="box__column">
        <!-- Titulos -->
        <h2 class="section-title">
            Visión
        </h2>
        
        <div class="box">
            <p class="box__text">
                Ser la plataforma líder en el apoyo al campesinado del Eje Cafetero, reconocida por impulsar la transformación digital del sector agrícola, fomentar la equidad rural y conectar al campo con nuevas oportunidades a nivel local y nacional.
            </p>
        </div>

    </div>
</div>