<!-- Plantilla para la tarjeta de producto -->
<div class="product-card">
    <div class="product-card__image-container">
        <img src="{{image}}" alt="Imagen de {{title}}" class="product-card__image">
    </div>
    <div class="product-card__info">
        <div class="product-card__icon-title">
            <img src="{{icon}}" alt="Ícono de {{title}}" class="product-card__icon">
            <h2 class="product-card__title">{{title}}</h2>
        </div>
        <p class="product-card__description">{{description}}</p>
        <a href="{{link}}" class="product-card__button">Ir a comprar</a>
    </div>
</div>