<main class="main__content__change__password">
    <div class="login__content__right">
        <!-- <img class="change__password__img" src="/frontend/public/assets/img/DOÑA GLORIA.png" > -->
        
    </div>
    <div class="login__content__left">
        <div class="form__login">
            <h1 class="form__login__title">Cambio de Contraseña</h1>
        </div>
        <form>
            <div class="form__login__form">
                <div class="form__login__form-grup">
                    <div class="form__login__form-grup-password">
                        <label type="text" class="form__login__form-grup-label">Nueva contraseña</label>

                        <input type="password" placeholder="Ingresa tu nueva contraseña" class="form__login__form-grup-input">
                    </div>
                    
                    <div class="form__login__form-grup-confirm-password">
                        <labol type="text" class="form__login__form-grup-label">Confirma tu Contraseña</labol>

                        <input type="password" placeholder="Ingresa tu nueva contraseña" class="form__login__form-grup-input">
                    </div>

                    <button type="button" class="form__login__form-button">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        
    </div>
</main>

<body></body>