<section class="community">
  <div class="community__content">
    <h2 class="community__title">¡Haz parte de nuestra comunidad!</h2>
    <p class="community__description">Ingresa a nuestra Comunidad para participar en nuestro foro social, interactuar con usuarios, enterarte de noticias relacionadas con el campo agrícola y participar en eventos agrícolas.</p>
    <div class="community__buttons">
      <button class="community__btn community__btn--register">Foro social</button>
      <button class="community__btn community__btn--producer">Eventos</button>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/frontend/public/css/components/community.css">
