<div class="main-content-product2">
    <div class="content-wrapper-product2">

        <!-- Image Section -->
        <div class="image-section-product2">
            <label class="image-container-product2 ">
                <input type="file" class="photoInputProduct2" accept="image/*" style="display:none;">
                <img src="/frontend/public/img/img_product.jpeg" alt="foto producto"
                     class="product-image productImage">
                
            </label>
            <div class="photo-buttons-product2">
                <button type="button" class="btn-product2 btn-danger-product2 btnEliminarFoto">Eliminar Foto</button>
                <button type="button" class="btn-product2 photo-hint-product2 btnCambiarFoto">Cambiar foto</button>
            </div>
        </div>

        <!-- Form Section -->
        <div class="form-section-product2">
            <form class="fincaFormProduct2">
                <div class="form-grid-product2">

                    <label class="form-label-product2">Nombre Finca
                        <input type="text" class="form-input-product2 inputNombreFinca" value="Finca el Porvenir">
                    </label>
                    <label class="form-label-product2">Stock
                        <input type="number" class="form-input-product2 inputStock" value="10">
                    </label>
                    <label class="form-label-product2">Dirección Finca
                        <input type="text" class="form-input-product2 inputDireccionFinca" value="Mas arriba de la cruz">
                    </label>
                    <label class="form-label-product2">Tipo de Envío
                        <select class="form-select-product2 selectTipoEnvio">
                            <option value="domicilio" selected>Domicilio</option>
                            <option value="recogida">Recogida en Finca</option>
                            <option value="transporte">Transporte Propio</option>
                            <option value="mensajeria">Mensajería</option>
                        </select>
                    </label>
                    <label class="form-label-product2 description-section-product2">Descripción
                        <textarea class="description-textarea-product2 inputDescripcion">La guanábana es una fruta tropical grande y ovalada con cáscara verde espinosa y pulpa blanca, jugosa y aromática</textarea>
                    </label>

                </div>

                <div class="button-container-product2">
                    <button type="button" class="btn-product2 btn-secondary-product2 btnVolver">Volver</button>
                    <button type="submit" class="btn-product2 btn-primary-product2">Publicar</button>
                </div>
            </form>
        </div>

    </div>
</div>