

<div class="profile-container">
    <div class="profile-grid">

        <!-- Left Column -->
        <div class="profile-left">

            <label class="ep-avatar epAvatarContainer epBtnCambiarFoto">
                 <input type="file" class="epPhotoInput" accept="image/*" style="display:none;">
                <img class="epAvatarImg" src="" alt="Foto producto"
                     style="width:100%;height:100%;object-fit:cover;border-radius:12px;display:none;">
                <svg class="epAvatarSvg" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="1.5"
                     style="width:60px;height:60px;">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                     <circle cx="8.5" cy="8.5" r="1.5"/>
                    <path d="M21 15l-5-5L5 21"/>
                </svg>
            </label>

            <div class="ep-img-buttons">
                    <button class="ep-btn ep-btn-danger epBtnVolver" type="button">Volver</button>
                    <button class="ep-btn ep-btn-danger epBtnSubirFoto" type="button">Subir Foto</button>
            </div>
        </div>

        <!-- Right Column - solo lectura -->
        <div class="profile-right-user">

            <div class="form-row-edit-profile-user">
                 <label class="ep-label">Nombre Finca
                    <input type="text" class="ep-input epFinca">
                </label>
                <label class="ep-label">Stock
                    <input type="number" class="ep-input epStock">
                </label>
            </div>

            <div class="form-row-edit-profile-user">
                <label class="ep-label">Dirección Finca
                    <input type="text" class="ep-input epDireccion">
                </label>
                <label class="ep-label">Tipo de Envío
                    <select class="ep-select epTipoEnvio">
                        <option value="domicilio">Domicilio</option>
                        <option value="recogida">Recogida en Finca</option>
                        <option value="transporte">Transporte Propio</option>
                        <option value="mensajeria">Mensajería</option>
                    </select>
                </label>
                <label class="ep-label ep-full-width">Descripción
                    <textarea class="ep-textarea1 epDescripcion" rows="3"></textarea>
                </label>
  
            </div>
            <div class="from-actions-profile">
                <button class="btn-profile2 btn-save-profile btnGuardar">Guardar</button>
            </div>
        </div>

    </div>
</div>