<div class="finca-vevo-page">



    <section class="finca-vevo-section">
        <h2 class="finca-vevo-section-title">Mis Fincas</h2>
        <div class="finca-vevo-grid fincaGrid">
            <!-- Cards generadas por JS -->
        </div>
    </section>
    <div class="product-vevo-floating-buttons">
        <button class="product-vevo-create-btn btnCrearFinca" aria-label="Crear Producto">+</button>
        <button class="product-vevo-back-btn btnGoBack" aria-label="Regresar">↶</button>
    </div>
</div>