
<section class="filters">
    <h2 class="filters__title">Filtros</h2>
    <div class="filters__buttons">
        <button class="filters__button" data-category="Frutas">Frutas</button>
        <button class="filters__button" data-category="Verduras">Verduras</button>
        <button class="filters__button" data-category="Carnes">Carnes</button>
        <button class="filters__button" data-category="Fertilizantes">Fertilizantes</button>
    </div>
</section>

<section class="filters">...</section>
    <section class="discounts">
        <div class="discounts__grid" id="productsContainer"></div>
</section>

<body>
    
</body>