<section class="form">
    <h2>Contáctanos</h2>
    <p class="form__subtext">
        Déjanos tus datos, nosotros te contactamos
    </p>

    <div class="form__container">
            <form class="form__contact">
                <input type="text" placeholder="Nombre" required>
                <div class="prueba">
                    <input type="email" placeholder="Correo electrónico" required>
                    <input type="tel" placeholder="Teléfono">
                </div>

                <textarea placeholder="Mensaje" rows="5" required></textarea>
                <button type="submit">Enviar</button>
            </form>

        <div class="map__container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.0297272285553!2d-75.67636392516617!3d4.831683195092423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38875308876bb5%3A0xd0351f396de5e839!2sCDITI%20SENA%20Dosquebradas!5e0!3m2!1ses!2sco!4v1694891273939!5m2!1ses!2sco"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>    