
<div class="hero__content">
    <h2 class="hero__title">SGMA</h2>
    <!--Logo -->
    <img src="/frontend/img/Logo .png" alt="logo" width="40" height="40">
    <!-- navbar?-->
    <nav class="hero__navbar">
        <a href="/frontend/public/views/contact.html">NOSOTROS</a>
        <a href="#">COMPRAR</a>
        <a href="#">BLOG DE COMUNIDAD</a>
        <a href="#">EVENTOS AGRICOLAS</a>
        <!-- Perfil -->
        <a href="#">PERFÍL</a>
    </nav>

    
</div>

<div class="hero__img">
    <!--Imagen del index -->
    


    <div class="hero__description__index">
        <h1>¡Bienvenido al Sistema de Gestión de Mercado Agrícola!</h1>
        <p>Aquí puedes comprar, una amplia variedad de productos ofrecidos por los queridos campesinos del eje cafetero,
        participa en foros, eventos e incluso si eres campesino y tienes una finca podras vender tus productos.</p>

        <p>¿Qué estas esperando para unirte a nuestra comunidad?</p>
        <p>Inicia seccion o registrate para aprovechar al máximo el SGMA</p>


    </div>



