<section class="community-hero">
        <div class="community-hero__overlay">
            <div class="community-hero__content">
                <h2 class="community-hero__title">¡Haz parte de nuestra comunidad!</h2>
                <p class="community-hero__description">
                    Ingresa a nuestra comunidad para participar en nuestro foro social, interactuar con usuarios, enterarte de noticias relacionadas con el campo agrícola y participar en eventos agrícolas.
                </p>
                <p class="community-hero__question">¿Qué estás esperando?</p>
                <div class="community-hero__buttons">
                    <button class="community-hero__button">Foro social</button>
                    <button class="community-hero__button">Eventos</button>
                </div>
            </div>
        </div>
</section>