
<section class="hero__two">
    <div class="hero__content__two">
    
        <h2 class="hero__title">
            ¡Haz parte de nuestra comunidad!
        </h2>

        <div class="hero__text">
            <p>
                Ingresa a nuestra comunidad para participar en nuestro foro social, interactuar con usuarios, enterarte de noticias relacionadas con
                el campo agrícola y participar en eventos agrícolas.
                <br>
                <br>
                ¿Qué esta esperando?
            </p>
        </div>

        <div class="hero__btn">
            <button class="hero__button">
                <a href="#"></a>
            </button>
        </div>
    </div>
</section>