
<!-- Parte 1 -->
<div class="intro-community__blog">
    <h2 class="intro-community__title">El poder de sembrar juntos</h2>
    <p class="intro-community__description">
        En nuestra comunidad cada cosecha es una historia de esfuerzo, tradición y esperanza.
        En este espacio compartimos relatos de campesinos del Eje Cafetero, consejos agrícolas, experiencias de comercialización,
        y noticias relevantes para el desarrollo del campo agrícola.
    </p>
</div>

<!-- Parte 2 -->
<main class="container__card__blog">
    <!-- Sección 1: Historias de agricultor -->
    <section class="card__blog">
        <h2 class="intro-community__title">Historias de agricultor</h2>
        <p><strong>Luis y su familia:</strong> 30 años cultivando café con amor.</p>
        <p>Conoce cómo Luis ha mantenido viva la tradición cafetera en su finca y cómo el SGMA le ha permitido llegar a nuevos clientes en otras regiones.</p>
        <p class="fecha">📅 Publicado: 5 de Junio del 2025</p>
    </section>

    <div class="image">
        <img src="/frontend/img/person1.png" alt="Luis agricultor">
    </div>

    <!-- Sección 2: Saberes del campo -->
    <section class="card__blog">
        <h2 class="intro-community__title">Saberes del campo</h2>
        <p>5 buenas prácticas agrícolas que aumentan tu productividad.</p>
        <p>Te compartimos recomendaciones útiles y sencillas para cuidar tus cultivos, mejorar la calidad del suelo y aprovechar mejor el agua.</p>
        <p class="fecha">📅 Publicado: 2 de Junio del 2025</p>
    </section>

    <div class="image">
        <img src="/frontend/img/person2png.png" alt="Trabajo en el campo">
    </div>

    <!-- Sección 3: Voces de la comunidad -->
    <section class="card__blog">
        <h2 class="intro-community__title">Voces de la comunidad</h2>
        <p>
            “Gracias al sistema SGMA pude vender mi cosecha completa sin intermediarios. ¡Es una herramienta que de verdad nos ayuda!”
            <br><br>
            -María Inés, agricultora de Santa Rosa de Cabal
        </p>
    </section>

    <div class="image">
        <img src="/frontend/img/person3.png" alt="María Inés agricultora">
    </div>
</main>

<!-- Parte 3 -->
<!-- Share -->

<section class="share-section">
    <div class="share-section__text">
        <h2 class="share-section__title">
        ¿Quieres compartir tu historia o anunciar un evento?
        </h2>
        <p class="share-section__description">
            ¡Contáctanos! Este espacio es para ti y para todos que creen en el campo colombiano.
        </p>
    </div>
        <div class="share-section__action">
            <button class="share-section__button">Compartir</button>
        </div>
</section>
