<!-- Navbar -->
<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">SGMA</div>
    
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="#nosotros" class="navbar__link navbar__link--active">NOSOTROS</a>
      </li>
      <li class="navbar__item">
        <a href="#comprar" class="navbar__link">COMPRAR</a>
      </li>
      <li class="navbar__item">
        <a href="#blog_comunidad" class="navbar__link">BLOG_COMUNIDAD</a>
      </li>
      <li class="navbar__item">
        <a href="#perfil" class="navbar__link">PERFIL</a>
      </li>
    </ul>
  </div>
</nav>

<link rel="stylesheet" href="/frontend/public/css/components/navbar.css">
<link rel="stylesheet" href="/frontend/public/css/variables.css">
