<link rel="stylesheet" href="/frontend/public/css/components/navbar_register.css">
<link rel="stylesheet" href="/frontend/public/css/variables.css">
<!-- NAVBAR -->
<nav class="navbar">
    <div class="navbar__content">
        <!-- Logo -->
        <div class="navbar__logo">
            <a href="/index.html" class="navbar__logo-link">
                <img src="/frontend/public/img/logo1.png" alt="Logo SGMA" class="navbar__logo-img">
                <span class="navbar__logo-text">SGMA</span>
            </a>
        </div>

