<nav class="navbar-bottom-profile">
  <div class="navbar-bottom__content-profile">

    <!-- Ícono + Texto -->
    <div class="navbar-bottom__left-profile">
      <img src="/frontend/public/img/tuerca.png" alt="Icono Perfil" class="profile-icon-img">
      <span>Perfil</span>
    </div>

    <!-- Usuario -->
    <div class="navbar-bottom__right-profile">
      <span>Jose Antonio de la Cruz</span>
      <img src="/frontend/public/img/foto_usuario_shopping.jpg" alt="Usuario" class="navbar__avatar-profile">
    </div>

  </div>
</nav>
<link rel="stylesheet" href="/frontend/public/css/components/navbar_profile.css">