<div class="navbar-bottom__content-product">

    <div class="navbar-bottom__left-product">
        <i class="fa-regular fa-clock"></i>
        <img src="/frontend/public/img/tuerca.png" alt="Icono Perfil" class="profile-icon-img">
        <span>Crear Producto</span>
    </div>

    <div class="navbar-bottom__right-product">
        <span data-profile-name>Jose Antonio de la Cruz</span>
        <img data-profile-photo
             src="/frontend/public/img/foto_usuario_shopping.jpg"
             alt="Usuario"
             class="navbar__avatar-product">
    </div>

</div>

<link rel="stylesheet" href="/frontend/public/css/components/navbar_create_product.css">