<!-- Navbar -->
<nav class="navbar">
  <div class="navbar__content">
    <!-- Logo -->
    <div class="navbar__logo">
        <img src="/frontend/public/img/logo1.png" alt="Logo SGMA" class="navbar__logo-img">
      SGMA <span class="navbar__icon"></span>
    </div>

    <!-- Título centrado -->
    <h2 class="navbar__title">Tu carro de compras</h2>

    <!-- Menú de la derecha -->
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="#nosotros" class="navbar__link">NOSOTROS</a>
      </li>
      <li class="navbar__item">
        <a href="#blog" class="navbar__link">BLOG DE COMUNIDAD</a>
      </li>
      <li class="navbar__item">
        <a href="#eventos" class="navbar__link">EVENTOS AGRÍCOLAS</a>
      </li>
      <li class="navbar__item navbar__profile">
        <img src="/frontend/public/img/foto_usuario_shopping.jpg" alt="Usuario" class="navbar__avatar">
      </li>
    </ul>
  </div>
</nav>

<link rel="stylesheet" href="/frontend/public/css/components/navbarshopping.css">
<link rel="stylesheet" href="/frontend/public/css/variables.css">