<main class="register__content">
    <div class="register__content__right">

    </div>

    <div class="register__content__left">
        <div class="form__register">
            <h1 class="form__register__title">Crear Usuario</h1>

            <form class="form__register__form formRegistro" novalidate>
                <div class="form__register__form">
                    <div class="register__form__column__column" >

                        <label class="user-label">
                            Primer Nombre
                            <input class="user-input inputFirstName" type="text" placeholder="Firts Name ">
                        </label>

                        <label class="user-label">
                            Segundo Nombre
                            <input class="user-input inputSecondName" type="text" placeholder="Middle Name">
                        </label>

                        <label class="user-label">
                            Primer Apellido
                            <input class="user-input inputFirstLastName" type="text" placeholder="Last Name ">
                        </label>

                        <label class="user-label">
                            Segundo Apellido 
                            <input class="user-input inputSecondLastName" type="text" placeholder="Secund Last Name">
                        </label>
                    </div>

                    <div class="register__form__column">
                        <label class="user-label-email">
                        <!-- <label class="form__register__form-grup-label"> -->
                            Correo Electronico
                            <input type="email" class="user-input-email inputEmail" placeholder="Ingresa tu Correo Electronico">
                        </label>
                    </div>
                        
                    <div class="register__form__column__column">
                        <label class="user-label" for="departamento">
                            Departamento
                            <select name="departamento"
                                class="register__form-select selectDepartamento" required autocomplete="address-level1">
                                <option value="">- Selecciona tu departamento -</option>
                                <option value="Risaralda">Risaralda</option>
                                <option value="Quindío">Quindío</option>
                                <option value="Caldas">Caldas</option>
                            </select>
                        </label>

                        <label class="user-label" >
                            Dirección
                            <input class="user-input inputAddress" type="text" placeholder="Dirección">
                        </label>

                        <label class="user-label" for="telefono">
                            Número de Teléfono
                            <input class="user-input inputTelefono" type="tel" placeholder="Phone">
                        </label>

                        <label class="user-label" for="password">
                            Contraseña
                            <input class="user-input inputPassword" type="password" placeholder="••••••••">
                        </label>

                    </div>
                </div>

                <!-- Mensaje de ayuda -->
                <div class="register__form-help formHelp" aria-live="polite"></div>
                
                <!-- Btn -->
                <div class="form__login__form-row-button">
                    <button type="submit" class="form__login__form-button">Crear Cuenta</button>
                </div>
        
            </form>
        </div>
    </div>
</main>

<body></body>