
<body>
    

    <!-- Main Content -->
    <main class="main-content">
        <!-- Left Section - Testimonial -->
        <section class="testimonial-section">
            <div class="testimonial-content">

        </section>

        <!-- Right Section - Verification Form -->
        <section class="verification-section">
            <h1 class="verification-title">Recuperación de Cuenta</h1>
            
            <div class="verification-container">
                <p class="instruction-text">Ingresa el codigo</p>
                
                <form class="verification-form" id="verificationForm">
                    <div class="code-inputs">
                        <input type="text" maxlength="1" class="code-input" id="code1" required>
                        <input type="text" maxlength="1" class="code-input" id="code2" required>
                        <input type="text" maxlength="1" class="code-input" id="code3" required>
                        <input type="text" maxlength="1" class="code-input" id="code4" required>
                        <input type="text" maxlength="1" class="code-input" id="code5" required>
                        <input type="text" maxlength="1" class="code-input" id="code6" required>
                    </div>

                    <button type="submit" class="submit-btn" >Enviar codigo</button>
                </form>
            </div>
        </section>
    </main>

</body>