
<body>
    

    <!-- Main Content -->
    <main class="main-content-verification">
        <!-- Left Section - Testimonial -->
        <section class="testimonial-section-verification">
            <div class="testimonial-content-verification">

        </section>

        <!-- Right Section - Verification Form -->
        <section class="verification-section-verification">
            <h1 class="verification-title-verification">Recuperación de Cuenta</h1>
            
            <div class="verification-container-verification">
                <p class="instruction-text-verification">Ingresa el codigo</p>
                
                <form class="verification-form-verification" name="verificationForm">
                    <div class="code_inputs-verification">
                        <input type="text" maxlength="1" class="code_input-verification" name="code-digit-1" required>
                        <input type="text" maxlength="1" class="code_input-verification" name="code-digit-2" required>
                        <input type="text" maxlength="1" class="code_input-verification" name="code-digit-3" required>
                        <input type="text" maxlength="1" class="code_input-verification" name="code-digit-4" required>
                        <input type="text" maxlength="1" class="code_input-verification" name="code-digit-5" required>
                        <input type="text" maxlength="1" class="code_input-verification" name="code-digit-6" required>
                    </div>


                    <button type="submit" class="submit-btn-verification" >Enviar codigo</button>
                </form>
            </div>
        </section>
    </main>

</body>