body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}

/* ----- HEADER ----- */
.products-header {
    text-align: center;
    padding: 40px 20px 10px;
}

.products-header__title {
    color: #16446B;
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.products-header__subtitle {
    color: #25B37E;
    font-size: 0.95rem;
    margin-bottom: 50px;
}

/* ----- GRID ----- */
.products-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    max-width: 1300px;
    margin: 0 auto 60px;
    padding: 0 20px;
}

/* ----- CARD ----- */
.product-card {
    background-color: #C3FADA;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

/* IMAGEN ARRIBA */
.product-card__image-container {
    height: 220px;
    width: 100%;
    aspect-ratio: 4 / 2;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px; */
}

.product-card__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

/* INFO */
.product-card__info {
    padding: 25px 20px;
}

/* ICONO + TITULO */
.product-card__icon-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.product-card__icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.product-card__title {
    font-size: 1.25rem;
    font-weight: 800;
    color: #16446B;
    margin: 0;
}

/* TEXTO */
.product-card__description {
    font-size: 0.95rem;
    color: #1f1f1f;
    margin: 14px 0 25px;
    line-height: 1.4;
    min-height: 48px;
}

/* BOTÓN */
.product-card__button {
    display: inline-block;
    background-color: #25B37E;
    color: #ffffff;
    padding: 10px 22px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.product-card__button:hover {
    background-color: #1e945f;
}

@media (max-width: 900px) {
    .products-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products-cards-container {
        grid-template-columns: 1fr;
    }
}