.header__gov{
    background: var(--primary-secundary-600);
    /*alterar el padding aqui, tambien altera en el index*/
    /* padding 25 en el componente */
    /*padding: 15px;*/
    color: white;
        
}
.logo_gov {
    padding-left: 3rem;
}