.login__content {
    background-color: var(--primary-secundary-700); 
}
.form__login{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: max-content;
    padding: 12px;
    margin: 0 auto; 
    justify-content: center;
}

.form__login__title{
    text-align: center;
    font-size: 3.4rem;

    
}

.form__login__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 4rem;    
}

.form__login__form-grup{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;        
}

.form__login__form-grup-label {
    margin: 0 0 0 20px;
    font-size: 1.2rem;
}

.form__login__form-grup-input{
    height: 46px;
    font-size: 1.6rem;
    height: 4.8rem;
    width: 30rem;
    padding: 1.6rem;
    border-radius: 2.5rem;
    border:  none;
}

.form__login__form-button{
    background-color: var(--primary-600);
    width: 150px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 0 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}
.form__login__form-button a{
    text-decoration: none;
    color: white;


}

.form__login__form-row-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

@media (width > 768px) {
    .login__content{
        flex-direction: column;
    
    }

    .login__content__left{
        flex-direction: column;
        
    }

    .main__content__change__password {
        background: none;
    }
}

.login__content{
    display: flex;
    height: 100vh; /* pantalla completa */
}
.login__content__right {
    flex: 70%;
  
    background: linear-gradient(to right, rgba(30,74,97,0) 70%, var(--primary-secundary-900) 100%), url(/frontend/public/assets/img/DOÑA\ GLORIA.png);
    min-height: 50rem;
    background-size: cover;
}

.login__content__left{
    flex: 45%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
}


/* VIEWS CHANGE PASSWORD */
.main__content__change__password{
    display: flex;
    /* height: 100vh; */
    flex: 70%;
    background: linear-gradient(to right, rgba(30,74,97,0) 70%, var(--primary-secundary-900) 100%), url(/frontend/public/assets/img/DOÑA\ GLORIA.png);
    min-height: 50rem;
    background-size: cover;
    
}


.login__content__left {
    color: var(--white);
    flex: 1;
    background-color: var(--primary-secundary-700);

    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--white);
    padding: 2rem;
    height: 100%;
    
    
    
    
    align-content: center;
}

.form__login__form-grup-password, .form__login__form-grup-confirm-password{
    flex-direction: column;
    gap: 0.4rem;
    display: flex;
    
    
}

