.navbar__index{

}
.navbar__container{
    background-color: var(--primary-secundary-700);
    justify-content: space-between;
    display: flex;         
}
        
.navbar__logo{
    padding-left: 5rem;
    display: flex;
    justify-content: center;
}


.navbar__list{
    gap: 24px;
    display: flex;
    padding-right: 3rem;
    font-size: 1.6rem; 
    list-style: none;  
}

.navbar__list li{
    list-style: none;
}

.navbar__link{
    margin: auto;
}

.navbar__link__ONE__index{
    margin: auto;
    padding-right: 3rem;
}

.menu__inside {
    position: absolute;
    display: none;
    list-style: none;
    width: ;
    right: 70px;
    background-color: var(--primary-secundary-700);
    padding: 10px;
}

.navbar__list li:hover .menu__inside{
    display: block;
            
}
.menu__inside li:hover {
    background-color: var(--primary-secundary-900);
    }
.menu__inside li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    list-style-type: none;
    text-decoration: none;
    width: 15rem;
}
        
        
@media (max-width: 768px) {

    .navbar__container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }

    .navbar__logo {
        padding-left: 0;
        align-items: center;
    }

    .navbar__list {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .navbar__link {
        font-size: 1.4rem;
    }

    .navbar__link__ONE__index {
        padding-right: 0;
    }

    /* Dropdown */
    .menu__inside {
        position: static;
        width: 100%;
        text-align: center;
    }

    .menu__inside li a {
        padding: 1rem;
    }
}

.search-bar {
    
}
.search-bar input {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    width: 250px;
    background-color: #9fffe0; /* color verde claro */
    justify-content: center;
    display: flex;
    flex: 1;
}

.search-bar input::placeholder {
    color: #333;
}