.navbar-bottom-product {
  background-color: #000;
  color: white;
  padding: 6px 40px;
  font-family: var(--font-family-base);
  font-size: var(--fs-body);
  position: relative;
}

.navbar-bottom__content-product {
  display: flex;
  justify-content: flex-end;
  /* Alinea el usuario a la derecha */
  align-items: center;
  position: relative;
}

.profile-icon-img {
  width: 30px;
  height: 30px;
}

/* --- Sección central (antes izquierda): ícono + texto --- */
.navbar-bottom__left-product {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

/* --- Sección derecha: usuario + imagen --- */
.navbar-bottom__right-product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__avatar-product {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {

  .navbar-top-product,
  .navbar-bottom-product {
    padding: 8px 20px;
  }

  .navbar-bottom__content-product {
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }

  .navbar-bottom__left-product {
    position: static;
    transform: none;
  }

  .navbar-bottom__right-product span {
    font-size: 0.9rem;
  }
}