<link rel="stylesheet" href="/frontend/public/css/main.css">
<nav class="navbar__container-shopping">
  <div class="navbar__content-shopping">
    <div class="navbar__logo-shopping">
      <img src="/frontend/public/img/logo1.png" alt="Logo SGMA" class="navbar__logo-img-shopping">
      SGMA <span class="navbar__icon-shopping"></span>
    </div>

    <h2 class="navbar__title-shopping">Tu carro de compras</h2>

    <ul class="navbar__menu-shopping">
      <li class="navbar__item-shopping">
        <a href="#nosotros" class="navbar__link-shopping">NOSOTROS</a>
      </li>
      <li class="navbar__item-shopping">
        <a href="#blog" class="navbar__link-shopping">BLOG DE COMUNIDAD</a>
      </li>
      <li class="navbar__item-shopping">
        <a href="#eventos" class="navbar__link-shopping">EVENTOS AGRÍCOLAS</a>
      </li>
      <li class="navbar__item-shopping navbar__profile-shopping">
        <img src="/frontend/public/img/foto_usuario_shopping.jpg" alt="Usuario" class="navbar__avatar-shopping">
      </li>
    </ul>
  </div>
</nav>