<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <title>Blog de comunidad</title>
    <!--Script del header-->
    <script src="/frontend/public/js/components/header-blog.js" defer></script>
    <script src="/frontend/public/js/components/hero-blog.js" defer></script>
    <script src="/frontend/public/js/components/share-blog.js" defer></script>
    <script src="/frontend/public/js/components/hero-tree.js" defer></script>
    <script src="/frontend/public/js/components/form.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>

</head>

<body>
    <!-- Header -->
    <header class="header__blog">

    </header>

    <!-- Hero -->
    <section class="hero__blog">
        <div class="hero__content">
    </section>

    <!-- Prueba -->
    <section class="share-section">

    </section>


    <!-- Test 2 -->
    <section class="community-hero">
        <div class="community-hero__overlay">

        </div>
    </section>


    <!-- Hero__Two -->
    

    <!-- Form -->
    <section class="form">
        <div class="form__contact">

        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container"></div>
    </footer> 


</body>
</html>

    
