<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <title>Comprar</title>

    <!-- <script src="/frontend/public/js/components/buy/header_index.js" defer></script> -->
    <script src="/frontend/public/js/components/header-buy.js" defer></script>
    <script src="/frontend/public/js/components/discount-product-buy.js" defer></script>
    <script src="/frontend/public/js/components/filters-product-buy.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>

</head>
</html>
<body>
    <!-- Header -->
    <header class="header__buy">
        <section class="header__test">

        </section>
    </header>

    <!-- Discount product -->
    <section class="discounts">
        <div class="product__button">

        </div>
    </section>

    <!-- Botones filtros -->
    <section class="filters">
        <div class="productsContainer">
            
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">

        </div>
    </footer>

</body>
</html>