<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/events/header.css">
    <link rel="stylesheet" href="/frontend/public/css/components/events/events.css">
    <link rel="stylesheet" href="/frontend/public/css/components/events/card.css">
    <link rel="stylesheet" href="/frontend/public/css/components/hero-tree.css">
    <link rel="stylesheet" href="/frontend/public/css/components/form.css">
    <link rel="stylesheet" href="/frontend/public/css/components/footer.css">

    <title>Eventos</title>

    <!-- Script -->
    <script src="/frontend/public/js/components/header-index.js" defer></script>
    <!-- Navbar -->
    <script src="/frontend/public/js/components/header-origin.js" defer></script>
    <script src="/frontend/public/js/components/card.js" defer></script>
    <script src="/frontend/public/js/components/events.js" defer></script>
    <script src="/frontend/public/js/components/hero-tree.js" defer></script>
    <script src="/frontend/public/js/components/form.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>

</head>
<body>
    <!-- Header -->
    <header class="header__index">
        
    </header>
    <!-- Nota: hacer un header y un navbar SEPARADO-->
    <!-- ORGANIZAR VIEW COMPLETA, solo esta el footer, form y hero -->

    <header class="header__events">
        <div class="navbar-container"></div>
    </header>
    <!-- Events -->
    <section class="events">
        
    </section>
    <!-- Nuevo hero  -->
    <section class="community-hero">
        <div class="community-hero__overlay">

        </div>
    </section>

    <!-- Form -->
    <section class="form">
        <div class="form__contact">

        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">

        </div>
    </footer>

</body>
</html>