<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Style -->
    <link rel="stylesheet" href="/frontend/public/css/components/header-login.css">
    <link rel="stylesheet" href="/frontend/public/css/components/login-content.css">
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <!-- Script -->
    <script src="/frontend/public/js/components/header-login.js" defer></script>
    <script src="/frontend/public/js/components/login-content.js" defer></script>
    
</head>
<body>
    <header class="header__login">
        <div class="header__login__content"></div>
    </header>

    <section class="login__content">
        <div class="login__content__right">
            
        </div>

        <div class="login__content__left"></div>
        
    </section>
    <div class="login__content">
        <div class="login__content__right">

        </div>
        
    <section class="login__content__left">
        <div class="form__login">
            <h1 class="form__login__title">Inicia Sesión</h1>
        <form>
            <div class="form__login__form">
                <div class="form__login__form-grup">
                    <input type="email" id="email" placeholder="Ingresa tu Correo" class="form__login__form-grup-input">

                    <input type="password" id="password" placeholder="Ingresa tu Contraseña" class="form__login__form-grup-input">

                    <button id="loginBtn" class="form__login__form-button" type="button">
                        Iniciar Sesión
                    </button>

                    <!-- <label class="form__login__form-grup-label">
                        Correo Electronico
                    </label>
                        <input type="email" placeholder="Ingresa tu Correo" class="form__login__form-grup-input">
                    </div>

                    <div class="form__login__form-grup">
                        <form id="loginForm">

                            <label class="form__login__form-grup-label">
                                Contraseña
                            </label>
                            <input type="text" placeholder="Ingresa tu Contraseña" class="form__login__form-grup-input">
                        </form>
                    </div>
                    
                    <button class="form__login__form-button">
                        <a href="#">Iniciar Sesión</a>
                    </button>
                      -->
                    <div class="form__login__form-row-button">
                        <a href="#" class="form__login__form-button">Crear Cuenta</a>
                        <a href="#" class="form__login__form-button">Recuperar Cuenta</a>
                        
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

    <script src="/frontend/public/views/logis.js"></script>

</body>
</html>

