<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis productos admin</title>

    <link rel="stylesheet" href="/static/css/main.css">
    
    <script src="/static/js/components/header-gov.js"></script>
    <script src="/static/js/components/header-index.js"></script> <!-- Sm -->
    <script src="/static/js/components/navbar-product-new-seller.js"></script> <!-- Sm -->
    <script src="/static/js/components/product-news-admin.js"></script>
    <script src="/static/js/components/footer.js"></script> <!-- Sm -->

</head>
<body>
    <header class="header__gov"></header>
    
    <header class="header__index"></header> <!-- Sm -->
    
    <nav class="navbar__product__new__admin">
        <div class="navbar__container"></div>
    </nav> <!-- Sm -->

    <main class="main-content"></main>

    <footer class="footer__index"> <!-- Sm -->
        <div class="footer-container"></div>
    </footer> 
</body>
</html>