<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <!-- Script -->
    <script src="/frontend/"></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
    <header class="header__profile">
        <div class=""></div>
    </header>


    <!-- Footer -->
    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer>

</body>
</html>