<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Cuenta</title>

    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/header-login.js"></script>
</head>
<body>
    <header class="header__login">

    </header>

    <main class="recovery">
        <div class="recovery__content">
            
        </div>
    </main>

    <footer class="footer__index"></footer>
</body>
</html>