<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    


    <div class="register__content">
        <div class="register__content__right">

        </div>

        <div class="login__content__left">
            <div class="form__register">
                <h1 class="form__register__title">Recuperación de Cuenta</h1>

                <form>
                    <div class="form__register__form">
                        <div class="form__register__form-grup">
                            <label class="form__register__form-grup-label">
                                Correo Electronico
                            </label>
                            <input type="email" placeholder="Ingresa tu Correo Electronico">

                            <label class="form__register__form-grup-label">
                                Numero de Teléfono
                            </label>
                            <input type="number" placeholder="Ingresa tu numero de teléfono">
                            
                            
                        </div>

                        <div class="form__register__form-grup">
                            <label class="form__login__form-grup">
                                
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>