<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <!-- Script -->
    <script src="/frontend/public/js/components/header-index.js" defer></script>
    <script src="/frontend/public/js/components/navbar_us_client.js" defer></script>
    <script src="/frontend/public/js/components/hero-us.js" defer></script>
    <script src="/frontend/public/js/components/box.js" defer></script>
    <script src="/frontend/public/js/components/agriculture.js" defer></script>
    <script src="/frontend/public/js/components/hero-tree.js" defer></script>
    <script src="/frontend/public/js/components/form.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>

</head>
<body>
    <!-- Header -->
    <header class="header__index">

    </header>
    
    <!-- Navbar -->
    <nav class="navbar__index">
        <div class="navbar__container"></div>
    </nav>

    <!-- Hero -->
    <section class="hero__us">
        <div class="hero__content"></div>
    </section>

    <!-- Box -->    
    <div class="box-container">

    </div>

    <!-- Agriculture__Box -->
    <section class="agriculture">
        <div class="agricultura-box"></div>
    </section>

    <!-- Hero__Tree -->
    <section class="community-hero">
        <div class="community-hero__overlay">

        </div>
    </section>

    <!-- Form -->
    <section class="form">
        <div class="form__contact">

        </div>
    </section>

    <!-- Footer -->
    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer> 

</body>
</html>