<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Fincas</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <header class="header__index"></header>
    <nav class="navbar__farm__seller"></nav>

    <main class="main-content"></main>

    <footer class="footer-container"></footer>

    <script src="/frontend/public/js/components/header-index.js"></script> <!-- Sm -->
    <script src="/frontend/public/js/components/navbar-farm-seller.js"></script> <!-- Sm -->
    <script src="/frontend/public/js/components/farm_new2.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</body>
</html>