<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creación de producto</title>
    <!-- Carga de estilos globales y de componentes -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <!-- 1. Contenedor para el Header (será llenado por header.js) -->
    <header class="header__product"> <!-- Sm -->
        <div class="header__container"></div>
    </header>
    
    <!-- 2. Contenedor para el Cuerpo (será llenado por welcome.js) -->
    <nav class="navbar-bottom-product"></nav>

    <main class="main-content-create"></main>

    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer> <!-- Sm -->

    <!-- Carga de scripts al final del body para mejor rendimiento -->
    <script src="/frontend/public/js/components/header-product.js"></script> <!-- Sm -->
    <script src="/frontend/public/js/components/navbar_create_product.js"></script>
    <script src="/frontend/public/js/components/create_product.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</body>
</html> 