<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/frontend/public/css/components/welcome.css">

  <title>Document</title>
</head>
<body>
    
   
  <section id="header-placeholder"></section>
  <section id="body-placeholder"></section>

  <!-- <script src="/frontend/public/js/load_components.js"></script> -->
  <script src="/frontend/public/js/load_components.js"></script>
  <script src="/frontend/public/js/pages/welcome.js"></script>
</body>
</html>



  
