<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGMA - Recuperación de Cuenta</title>
    <link rel="stylesheet" href="/frontend/public/css/components/verification.css">
</head>

<body>

    <!-- === PLACEHOLDERS === -->
    <section id="header-placeholder"></section>
    <section id="body-placeholder"></section>




    <script src="/frontend/public/js/pages/verification.js"></script> 

</body>
</html>