<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>

<body>
    <header class="header__index__welcome"></header>
    
    <main class="main-content-verification"></main>


    <script src="/frontend/public/js/components/header2.js"></script>
    <script src="/frontend/public/js/components/verification.js"></script>
</body>
</html>
