<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Nuevos</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <header class="header__index"></header> <!-- Sm -->
    <nav class="navbar"></nav>

    <main class="main-content"></main>

    <footer class="footer__index"> <!-- Sm -->
        <div class="footer-container"></div>
    </footer> 

    <script src="/frontend/public/js/components/header-index.js"></script> <!-- Sm -->
    <script src="/frontend/public/js/components/navbar_shopping.js"></script>
    <script src="/frontend/public/js/components/product_new.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script> <!-- Sm -->
</body>
</html>