<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación</title>

    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>

    <!-- 1. Contenedor para el Header (será llenado por header2.js) -->
    <header class="header__login"></header> <!-- Sm -->

    <!-- Navbar -->
    <main class="main-content-recover"></main>

    <!-- JS -->
    <script src="/frontend/public/js/components/header-login.js"></script> <!-- Sm -->
    <script src="/frontend/public/js/components/recovery.js"></script>

</body>
</html>
