<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SGMA - Crear cuenta</title>
    <!-- Sin ../ porque ya estás dentro de public -->
    <link rel="stylesheet" href="/frontend/public/css/components/register.css" />
</head>
<body>

    <!-- === PLACEHOLDERS === -->
    <section id="header-placeholder"></section>
    <section id="navbar-placeholder"></section>
    <section id="body-placeholder"></section>
    <section id="footer-placeholder"></section>

    <script src="/frontend/public/js/pages/register.js"></script> 

</body>
</html>