<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Finca</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <style>
        html, body { height: auto; min-height: 100%; margin: 0; }
        body { display: flex; flex-direction: column; min-height: 100vh; }
        .main-content-finca { flex: 1 0 auto; }
        .footer { flex-shrink: 0; }
    </style>
</head>
<body>
    <header class="header__index-register"></header>
    <nav class="navbar"></nav>

    <main class="main-content-finca"></main>

    <footer class="footer"></footer>

    <script src="/frontend/public/js/components/header.js" defer></script>
    <script src="/frontend/public/js/components/navbar_shopping.js" defer></script>
    <script src="/frontend/public/js/components/create_farm.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
</body>
</html>