<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>

    <!-- Header -->
    <header class="header__login"></header>

    <!-- Navbar -->
    <nav class="navbar-register"></nav>

    <!-- AQUÍ el formulario será cargado dinámicamente -->
    <main class="register"></main>

    <!-- Footer -->
    <footer class="footer__index">
        <div class="footer-container"></div>
    </footer>

    <!-- JS -->
    <script src="/frontend/public/js/components/header-login.js"></script>
    <script src="/frontend/public/js/components/navbar_register.js"></script>
    <script src="/frontend/public/js/components/register.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>

</body>
</html>
