<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- === PLACEHOLDERS === -->
    <section id="header-placeholder"></section>
    <section id="navbar-placeholder"></section>
    <section id="body-placeholder"></section>
    <section id="footer-placeholder"></section>

    <script src="/frontend/public/js/pages/create_product_2.js"></script> 
</body>
</html>