<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto 2</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    
</head>
<body>
    <header class="header__index__producto"></header>
    <nav class="navbar-bottom-product"></nav>
    <main class="main-content"></main>
    <footer class="footer"></footer>

    <script src="/frontend/public/js/components/profile_data.js"></script>
    <script src="/frontend/public/js/components/header_create_product.js"></script>
    <script src="/frontend/public/js/components/navbar_create_product.js"></script>
    <script src="/frontend/public/js/components/create_product_2.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</body>
</html>