<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piña Oro Miel</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <link rel="stylesheet" href="/frontend/public/css/components/shopping_pineapple.css">
</head>
<body>
    <header class="header__index-register"></header>
    <nav class="navbar"></nav>

    <!-- shopping_pineapple.js inserta en .main-content -->
    <main class="main-content-shopping-pineapple"></main>

    <footer class="footer"></footer>

    <script src="/frontend/public/js/components/header.js"></script>
    <script src="/frontend/public/js/components/navbar_shopping.js"></script>
    <script src="/frontend/public/js/components/shopping_pineapple.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</body>
</html>