<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header__index">
        <div class="header-content"></div>
    </header>

     <!-- Navbar -->
    <nav class="navbar__buy__user">
        <div class="navbar__container"></div>
    </nav>

    <main class="main-content"></main>

    <script src="/frontend/public/js/components/header-index.js   "></script>
    <script src="/frontend/public/js/components/navbar-buy-user.js"></script>
    <script src="/frontend/public/js/components/edit_product2.js"></script>
</body>
</html>