<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Finca</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">

<body>
    <header class="header__index"></header>
    <nav class="navbar__farm__seller"></nav>

    <main class="main-content-finca"></main>

    <footer class="footer-container"></footer>

    <script src="/frontend/public/js/components/header-index.js"></script>
    <script src="/frontend/public/js/components/navbar-farm-seller.js"></script>
    <script src="/frontend/public/js/components/create_farm2.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</body>
</html>