<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Login</title>
  <!-- Estilos globales -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
  <!-- Header será llenado por header2.js -->
  <header class="header__login" role="banner" aria-label="Encabezado"></header>

  <!-- Contenedor donde se inyecta el body/login -->
  <main class="main-content-login" role="main"></main>

  <!-- Scripts -->
  <script src="/frontend/public/js/components/header-login.js"></script> <!-- Sm -->
  <script src="/frontend/public/js/components/login.js"></script>
</body>
</html>
